# Build a cuisine recommender

## Train classification model
First, train a classification model using the cleaned cuisines dataset we used.

- Start by importing useful libraries:

In [1]:
# !pip install skl2onnx

You need '*skl2onnx*' to help convert your Scikit-learn model to Onnx format.

In [2]:
import pandas as pd

Then, work with your data by reading a CSV file using read_csv():

In [3]:
data = pd.read_csv('cleaned_cuisines.csv')
data.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Remove the first two unnecessary columns and save the remaining data as 'X':

In [4]:
X = data.iloc[:,2:]
X.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Save the labels as 'y':

In [5]:
y = data[['cuisine']]
y.head()

  cuisine
0  indian
1  indian
2  indian
3  indian
4  indian

## Commence the training routine
We will use the 'SVC' library which has good accuracy.

- Import the appropriate libraries from Scikit-learn:

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report

- Separate training and test sets:

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

- Build an SVC Classification model

In [8]:
model = SVC(kernel='linear', C=10, probability=True,random_state=0)
model.fit(X_train,y_train.values.ravel())

SVC(C=10, kernel='linear', probability=True, random_state=0)

- Now, test your model, calling predict():

In [9]:
y_pred = model.predict(X_test)

- Print out a classification report to check the model's quality:

In [10]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     chinese       0.71      0.69      0.70       237
      indian       0.90      0.87      0.89       246
    japanese       0.76      0.80      0.78       244
      korean       0.83      0.79      0.81       235
        thai       0.80      0.84      0.82       237

    accuracy                           0.80      1199
   macro avg       0.80      0.80      0.80      1199
weighted avg       0.80      0.80      0.80      1199

## Convert your model to Onnx
Make sure to do the conversion with the proper Tensor number. This dataset has 380 ingredients listed, so you need to notate that number in *FloatTensorType*:

- Convert using a tensor number of 380.

In [11]:
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

initial_type = [('float_input', FloatTensorType([None, 380]))]
options = {id(model): {'nocl': True, 'zipmap': False}}
onx = convert_sklearn(model, initial_types=initial_type, options=options)
with open("./model.onnx", "wb") as f:
    f.write(onx.SerializeToString())

- Create the onx and store as a file model.onnx:

In [12]:
onx = convert_sklearn(model, initial_types=initial_type, options=options)
with open("./model.onnx", "wb") as f:
    f.write(onx.SerializeToString())

Now you are ready to use this neat model in a web app. Let's build an app that will come in handy when you look in your refrigerator and try to figure out which combination of your leftover ingredients you can use to cook a given cuisine, as determined by your model.